<h2 class="title">Login</h2>

<div class="formsDiv">
    <form id="loginForm">
        <div>
            <label class="" for="loginEmail">Email:</label><br>
            <input type="text" id="loginEmail" placeholder="sample@sample.com">
        </div>
        <br>
        <div>
            <label for="loginPassword">Password:</label> <br>
            <input type="password" id="loginPassword" placeholder="Password">
        </div>
        <br>
        <button class="submitBtn" type="submit" id="loginSubmit">Submit</button>
    </form>
</div>

<script src="/public/js/login.js"></script>
