<h2 class="title">Sign up</h2>

<div class="formsDiv">
    <form id="signUpForm">
        <div class="column">
            <div>
                <label for="firstName">First name:</label> <br>
                <input type"text" id="firstName" placeholder="John">
            </div>
            <br>
            <div>
                <label for="lastName">Last name:</label> <br>
                <input type"text" id="lastName" placeholder="Smith">
            </div>
            <br>
            <div>
                <label for="username">Username:</label> <br>
                <input type="text" id="username" placeholder="JohnnyBoy123">
            </div>
            <br>
            <div>
                <label for="loginEmail">Email:</label><br>
                <input type="text" id="loginEmail" placeholder="sample@sample.com">
            </div>
            <br>
            <div>
                <label for="loginPassword">Password:</label> <br>
                <input type"text" id="loginPassword" placeholder="Password">
            </div>
            <br>
        </div>
        <div class="column">
            <div>
                <label for="address_line1">Address line 1:</label> <br>
                <input type="text" id="address_line1" placeholder="Address">
            </div>
            <br>
            <div>
                <label for="address_line2">Address line 2:</label> <br>
                <input type"text" id="address_line2" placeholder="* Optional *">
            </div>
            <br>
            <div>
                <label for="city">City:</label><br>
                <input type="text" id="city" placeholder="City">
            </div>
            <br>
            <div>
                <label for="postal_code">Postal Code:</label> <br>
                <input type="number" id="postal_code">
            </div>
            <br>
            <div>
                <label for="phoneNumber">Phone number:</label> <br>
                <input type="tel" id="phoneNumber" minlength="8" maxlength="14" placeholder="0412345678">
            </div>
            <br>
            <button class="submitBtn" type="submit" id="signUpSubmit">Submit:</button>
        </div>
       
    </form>    
    
</div>

<script src="/public/js/signup.js"></script>